.wrapper {
    display: flex;
    max-width: 1400px;
    gap: 20px;
    padding: 20px 20px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.productContainer {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
}