.productHeader {
    width: 100%;
}

.productHeaderContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.title {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: var(--color-price);
}

.delimiter {
    width: 100%;
    border-radius: 6px;
    height: 1px;
    background-color: var(--color-grey);
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}