.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.imageContainer {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    max-width: 150px;
    max-height: 150px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titleContainer {
    font-size: 24px;
}